# http://stackoverflow.com/questions/8833953/how-to-change-tab-size-on-github/23522945#23522945
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true


# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,jsx,html,css}]
charset = utf-8
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true