[Unit]
Description=TimestampSDR Service
After=network.target

[Service]
WorkingDirectory=/home/pi/timestampSDR
ExecStart=/usr/bin/node main.js
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
